body{
    width: 600px;
    height: 600px;
    margin: 100px auto auto auto;
    border: 3px solid rgb(112, 11, 11);
    position: relative;
   
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}
    
.header-container{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
    color: brown;
    font-size: 50px;
    font-weight: 700;
}

.search-bar input{
    width: 500px;
    padding: 15px;
    font-size: 20px;
}

ul#todolist {
    list-style: none;
    margin: 20px;
    width: 450px;
    margin-right: 60px;
  }

  ul#todolist li {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
  }


.footer {
    margin-top: 150px;
    background-color: black;  
    font-weight: 300px;
    font-size: 20px;
    padding: 20px;
    color: rgb(238, 237, 237);
    list-style: none;
    word-spacing: 6px;  
}